
body {
/* font-family: 'Roboto', sans-serif !important; */
font-family: 'roboto',sans-serif;
color:#2c333c;
}
h1,h2,h3,h4,h5,h6,p,a{
  font-family: 'roboto',sans-serif;
}
input[type="text"] {
  font-family:'Roboto', sans-serif;
  font-size: 16px;
  color:#84888e;
}
/* -------------------------------------------roboto text---------------------------------- */
.card-height-landing{
  border-radius: 30px;
  /* height:370px; */
}
.card-radius-circle{
  height: 100px;
width: 100px;
background: #e2f5f6;
border-radius: 50%;
border: 20px solid #e2f5f6;
line-height: 100px;
}
.roboto-black-30{
  font-size:1.875rem;
  font-weight: 900;
  color:#4f5be7;
}
.roboto-reg-18px{
  font-weight: 400;
font-size:1.125rem;
}
.roboto-reg-30{
font-size:1.875rem;
font-weight: 400;

}
.roboto-bold-18px{
  font-size: 1.125rem;
  font-weight: 700;

}
.roboto-black-40px{
  font-weight: 900;
}
.roboto-med-30px{
  font-size:1.875rem;
  font-weight: 500;
  color:#4f5be7;
}
.roboto-bold-30px{
  font-size:1.875rem;
  font-weight: 700;

  /* color:#4f5be7; */f
}
.roboto-bold-18px{
  font-weight:900;
  font-size: 1.125rem;
  /* color:#4f5be7; */
}
.roboto-bold-14px{
  font-weight:700;
  font-size:0.875rem;;
  color:#fff;
}
.roboto-reg-14px{
  font-weight:400;
  font-size:1rem;
}
.roboto-black-30px{
  font-weight:900;
  font-size:1.875rem;
}
.roboto-reg-16px{
  font-weight:400;
  font-size:1rem;
}
.roboto-black-18px{
  font-weight:900;
  font-size:18px;
}
.roboto-reg-24px{
  font-weight:700;
  font-size:1.5rem;
}
.roboto-bold-24px{
  font-weight:700;
  font-size:1.5rem;
}
.roboto-bold-48px{
  font-weight:700;
  font-size:3rem;
}
.roboto-reg-24{
  font-weight:400;
  font-size:1.5rem;
}
.custom-button:hover{
  color:blue;
  margin-left:-12px;
  background:#4f5be7;
  border-radius:30px;
  height:60px;
  width:170px;
}
.padding-container{
  padding-top: 118px;
  padding-bottom: 70px;
}

.roboto-black-36px{
  font-size:36px;
  font-weight:900;

}
.roboto-reg-36px{
  font-size:36px;
  font-weight:400;
}
.roboto-black-48px{;
  font-size:48px;
  font-weight:900;
}
.roboto-light-24px{
  font-weight:300;
  font-size:24px;
}
/* ------------------------------------------end -roboto text---------------------------------- */

.sec1-landing{
  background: url(banner-bg-2.png) no-repeat center;-webkit-background-size: 100%;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height:567px; */
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}
.example1 {
border: 2px solid red;
padding: 10px;
border-radius: 500px;
width:50%;
}
.main-background-page2{
  background: url(./img/cancerpage/Back-new.png) no-repeat center;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:65vh;
  background-position: top;
}
.background-banner-page2{
background: url(page2/card_main_Background.png) no-repeat center center fixed;-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width:100%;
background-position: top;
}
.main-background{
  background: url(main-banner.png) no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
  background-position: top;
}
.sec6 ul {

  margin: 0;
  padding: 0;
}
.sec6 li {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding-left: 15px;
  line-height:1.3;
  padding-bottom:15px;
  font-size:1.125rem;

}
.sec6 li:before {
  font-family: FontAwesome;
  content: "\f0da";
  font-size: 1.125rem;
  position: absolute;
  top: -1px;
  left: -10px;
}
.main-background-2{
  background: url(banner-bg-2.png) no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
}
.r2{

border-radius: 30px;
border: 7px solid black;
box-shadow: 0 17px 40px rgba(92, 103, 108, 0.2);

}
.r3{
border-radius: 2rem!important;
box-shadow: 0 17px 40px rgba(92, 103, 108, 0.2);
width: 260px;
height: 320px;
/* margin:4rem; */
}

/****Author-2-custom-styles****/
/****heart-page-styles*******/

/****Banner-Styles*******/
.heart-banner-sec-wrap{
  height: 500px;
/*  border: solid 1px green;*/
}

.heart-banner-sec-wrap .heart-banner-sec{
  background: url(../heart-img/heart-banner-001.jpg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heart-banner-sec-wrap .heart-banner-sec .container{
  height: 500px;
/*  border: solid 1px red;*/
  margin-top:0!important;

}

.heart-banner-sec-wrap .heart-banner-sec .container h1{
  font-family: 'Roboto', sans-serif;
  font-size:48px;
  padding-top: 140px;
  font-weight: bold;

}

.heart-banner-sec-wrap .heart-banner-sec .container p{
  font-size:24px;
  padding-bottom:195px;
  color:#2c333c;
  font-weight:300;
  max-width:640px;
  line-height:30px;
}

@media (min-width: 768px) {
  .heart-banner-sec-wrap .heart-banner-sec .container{
    padding-left:0px;

  }
}

/****End of Banner-Styles*******/

/****Heart Disease-Styles*******/

.heart-disease-sec{
  margin: 0 auto;
  border: solid 1px red;
  padding-top:150px;
  padding-bottom:150px;

}

.heart-disease-sec .intro-text-wrap{
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-right:150px;
  padding-left:150px;
  padding-bottom:150px;

}

.heart-disease-sec .intro-text-wrap h2{
  font-size:40px;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  max-width:840px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.heart-disease-sec .row{
  margin-top: 40px;
/*  border: solid 1px green;*/

}

.heart-disease-sec .row .hd-img{
/*  border: solid 1px green;*/
  margin: 0 auto;
  text-align: center;
  width: 315px;
  height: 300px;

}

.heart-disease-sec .row .hd-img img{
  margin: 0 auto;
  display: block;
}

.heart-disease-sec .row .hd-text{
/*  border: solid 1px pink;*/
  padding-top:75px;
  padding-right:30px;
  padding-left:30px;
}

.heart-disease-sec .row .hd-text h3{
  font-size:30px;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align: left;
  color: #4f5be7;
/*  border: solid 1px brown;*/
  padding-bottom:20px;
  margin-bottom: 0px;
}

.heart-disease-sec .row .hd-text p{
  max-width:700px;
  font-size:18px;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  text-align: left;
  padding-top:20px;
/*  border: solid 1px brown;*/
  margin-top:0px;
}

@media (min-width: 768px) {
  .heart-disease-sec .row .hd-text{
    padding-left:0px;
    padding-right:0px;
  }

  .heart-disease-sec .row .hd-text p{
    padding-right:20px;
    margin-top:0px;
  }
}

/*** Heart Disease**families-Styles*******/

.heart-disease-sec .families-sec{
  padding-top:190px;

}


.heart-disease-sec .families-sec .row{
/*  border: solid 1px yellow;*/
  margin-top:0px;
}



.heart-disease-sec .families-sec .row .familes-text{
  padding-top:75px;
  padding-right:30px;
  padding-left:30px;
/*  border: solid 1px blue;*/
}

.heart-disease-sec .families-sec .row .familes-text p{
  max-width:700px;
  font-size:18px;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  text-align: left;
  padding-top:115px;
/*  border: solid 1px pink;*/
}

.heart-disease-sec .families-sec .row .families-img{
/*  border: solid 1px black;*/
  margin: 0 auto;
  text-align: center;
  width: 486px;
  height: 400px;

}

.heart-disease-sec .families-sec .row .families-img img{
  margin: 0 auto;
  display: block;

}

@media (min-width: 768px) {
  .heart-disease-sec .families-sec .row .familes-text{
    padding-left:0px;
    padding-right:0px;
  }

  .heart-disease-sec .families-sec .row .familes-text p{
    padding-right:20px;
    margin-top:0px;
  }
}


/****End of Heart Disease-Styles*******/
/*** lifestyle-factors-Styles*******/

.background-lifestyle-card{
background: url(../heart-img/lifestyle-factors-background.png) no-repeat center;-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width:100%;
background-position: top;
}


.r4{
border-radius: 2.5rem!important;

}


/****heart-page-styles-end-here*******/
/****Author-2-custom-styles-ends-here****/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/
